:root {
    --canva-color: #353839AA;
    --bitBox-color: #00E5FF;
    --additionBox-color: #ED8936; 
    --ansBox-color: #48BB78;
    --imagery-color: #ECC94B;

    /*
    --color-error: #F56565;      
    --color-success: #48BB78;    
    --color-warning: #ECC94B;
    --color-accent: #ED8936;
    */
}

#input_decimalNumberSum_1, #input_decimalNumberSum_2 {
    margin: auto 2px;
}

#button_sum {
    margin-left: 10px;
}