:root {
    --canva-color: #353839AA;
    --bitBox-color: #00E5FF;
    --hilight-color: #ED8936; 
    --ansBox-color: #48BB78;
    --imagery-color: #ECC94B;

    --float-sign-color: #00E5FF;
    --float-power-color: #ECC94B;
    --float-mantissa-color: #48BB78;

    /*
    --color-error: #F56565;      
    --color-success: #48BB78;    
    --color-warning: #ECC94B;
    --color-accent: #ED8936;
    */
}

#input_decimalNumberSum_1, #input_decimalNumberSum_2,
#input_decimalNumberSubtraction_1, #input_decimalNumberSubtraction_2,
#input_decimalNumberMultiplication_1, #input_decimalNumberMultiplication_2,
#input_decimalNumberDivision_1, #input_decimalNumberDivision_2 {
    margin: auto 2px;
}

#button_sum, #button_Subtraction, #button_Multiplication, #button_Division{
    margin-left: 10px;
}